IMAP_HOST=signarama.powermail.fr
IMAP_PORT=993
IMAP_SECURE=true
SMTP_HOST=signarama.powermail.fr
SMTP_PORT=465
MAIL_USER=
MAIL_PASSWORD=

JIRA_URL=https://signarama.atlassian.net
JIRA_USERNAME=
JIRA_TOKEN=

JIRA_PROJECT_KEY=
JIRA_ISSUE_TYPE=Task
DRY_RUN=true

# dev | prod (dev = developpement de nouvelles fonctionnalites)
MODE=dev

# En mode dev, les mails envoyes par le systeme vont uniquement a ces adresses (separees par des virgules)
DEV_MAILS=

# Administrateurs prevenus a chaque creation / changement de statut d'un ticket (separes par des virgules)
ADMIN_MAILS=
